/* Posters used as color bases */
/* Gold: https: //m.media-amazon.com/images/M/MV5BYmZmZDc1Y2EtMmU2MS00NmMzLTllZmYtNjlkODFkNjZlOGE0XkEyXkFqcGc@._V1_.jpg */
/* blue: https: //preview.redd.it/official-poster-for-now-you-see-me-now-you-dont-v0-nqonufbu0txe1.png?auto=webp&s=e05a435e6de186d214ca9664d3d2d982c1035971 */
:root {
    /* Colors insipired from tailwind, higher number => darker */
    --gold-400: rgb(204, 164, 106);
    --gold-700: rgb(139, 109, 55);

    --blue-100: rgb(207, 220, 222);
    --blue-200: rgb(190, 210, 218);
    --blue-400: rgb(158, 190, 210);
    --blue-500: rgb(153, 195, 200);
    --blue-600: rgb(99, 135, 175);
    --blue-700: rgb(49, 95, 136);
    --blue-900: rgb(40, 71, 116);

    /* For dynamic letter-sizing */
    --normal-text-size: 16pt;
    --title-text-size: 20pt;
    --h2-text-size: 24pt;
    --h1-text-size: 40pt;

    --shadow-color: rgb(75, 75, 75);
}

* {
    letter-spacing: 1px;
}

body {
    margin: 0;
    background: linear-gradient(var(--blue-400),
            var(--blue-200));
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    background-color: var(--blue-900);
    color: white;

    #logo {
        width: 120px;
        aspect-ratio: 1;
    }

    h1 {
        display: inline-block;
        padding-left: 10px;
        font-size: var(--h1-text-size);
        margin: 10px 0;
    }

    nav {
        margin-left: 10%;
        margin-bottom: -60px;

        ul {
            list-style: none;
            padding-left: 0;
            float: left;

            li {
                a {
                    color: white;
                    background-color: var(--blue-700);
                    padding: 10px;
                    font-size: var(--h2-text-size);
                    transition: backgroundColor .5s;

                    &:hover {
                        background-color: var(--blue-600);
                    }
                }
            }
        }
    }
}

section {
    width: fit-content;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--blue-300);
    box-shadow: 5px 5px 10px var(--shadow-color);
    transition: 0.5s;

    &:hover {
        background-color: var(--blue-200);
        box-shadow: 5px 5px 20px var(--shadow-color);
    }
}

h2 {
    font-size: var(--h2-text-size);
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .info-item {
        margin: 10px auto;
        text-align: center;
        font-size: var(--normal-text-size);

        p {
            margin: 0;
        }
    }

    h3 {
        text-align: center;
        font-size: var(--title-text-size);
        font-weight: bold;
        font-style: normal;
        margin: 0;
    }

    ul {
        padding-left: 0;
        list-style-type: none;

        li:first-child {
            margin-top: -15px;
        }
    }
}

#trailer-video {
    display: flex;
    align-items: center;
    flex-direction: column;

    iframe {
        aspect-ratio: 16/9;
    }
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;

    ul {
        padding-left: none;
        list-style-type: none;
        margin-top: -10px;
    }

    li {
        display: inline;
        margin: 5px 15px;

        a {
            color: black;
            font-size: var(--normal-text-size);
        }
    }
}

footer {
    height: 40px;
    width: 100vw;
    border-top: 1px solid black;
    padding: 8.75px 0 0 10px;
    background-color: var(--gold-400);
    display: flex;
    justify-content: space-evenly;
}

@media (width >=1450px) {
    header {
        height: 100px;

        nav {
            ul {

                li:first-child a {
                    border-radius: 20px 0 0 20px;
                }

                li:last-child a {
                    border-radius: 0 20px 20px 0;
                }

                li {
                    display: inline;
                }
            }
        }
    }
}

@media (width < 1450px) {
    header {
        height: 220px;

        nav {
            margin-top: -20px;

            ul {
                margin-right: 20px;

                li:first-child a {
                    border-radius: 20px 20px 0 0;
                }

                li:last-child a {
                    border-radius: 0 0 20px 20px;
                }

                li {
                    display: block;
                    margin: 30px 0;
                }
            }
        }
    }
}

@media (width > 900px) {
    #trailer-video iframe {
        width: 900px;
    }
}

@media (width <=900px) {
    #trailer-video iframe {
        width: 90vw;
    }
}

@media (width <=800px) {
    header {
        flex-direction: column;
        height: 310px;

        nav {
            ul {
                margin-top: 20px;

                li:first-child a {
                    border-radius: 20px 0 0 20px;
                }

                li:last-child a {
                    border-radius: 0 20px 20px 0;
                }

                li {
                    display: inline;
                }
            }
        }
    }
}

@media (width <=450px) {
    header {
        height: 320px;

        nav {
            ul {
                margin-left: -30px;
            }
        }
    }
}

/* 428px width is when the last "Don't" jumnps down a line, 
so the height needs to be increased again */
@media (width < 428px) {
    header {
        height: 400px;
    }
}