header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;

    #logo {
        width: 120px;
    }

    h1 {
        display: inline-block;
        padding-left: 10px;
        font-size: 40pt;
        margin: 10px 0;
    }
}