header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;

    #logo {
        width: 120px;
    }

    h1 {
        display: inline-block;
        padding-left: 10px;
        font-size: 40pt;
        margin: 10px 0;
    }
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .info-item {
        margin: 5px auto;
        text-align: center;
    }

    em {
        text-align: center;
        font-size: 16pt;
        font-weight: bold;
        font-style: normal;
    }

    ul {
        padding-left: 0;
        list-style-type: none;

        li:first-child {
            margin-top: -15px;
        }
    }
}

#trailer-video {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;

    ul {
        padding-left: none;
        list-style-type: none;
        margin-top: -10px;
    }

    li {
        display: inline;
        margin: 5px 15px;
    }
}

footer {
    height: 50px;
    width: 100vw;
}