/* Posters used as color bases */
/* Gold: https: //m.media-amazon.com/images/M/MV5BYmZmZDc1Y2EtMmU2MS00NmMzLTllZmYtNjlkODFkNjZlOGE0XkEyXkFqcGc@._V1_.jpg */
/* blue: https: //preview.redd.it/official-poster-for-now-you-see-me-now-you-dont-v0-nqonufbu0txe1.png?auto=webp&s=e05a435e6de186d214ca9664d3d2d982c1035971 */
:root {
    --gold-400: rgb(204, 164, 106);
    --gold-700: rgb(139, 109, 55);

    --blue-200: rgb(207, 220, 222);
    --blue-400: rgb(158, 190, 210);
    --blue-500: rgb(153, 195, 200);
    --blue-600: rgb(99, 135, 175);
    --blue-700: rgb(49, 95, 136);
    --blue-900: rgb(40, 71, 116);

    --normal-text-size: 16pt;
    --title-text-size: 20pt;
    --h2-text-size: 24pt;
    --h1-text-size: 40pt;
}

* {
    letter-spacing: 1px;
}

body {
    margin: 0;
    background: linear-gradient(var(--blue-400),
            var(--blue-200));
    overflow-x: hidden;
}

@media (screen-width < 1450px) {}

@media (screen-width >=1450px) {}

header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    background-color: var(--blue-900);
    height: 100px;
    color: white;

    #logo {
        width: 120px;
        aspect-ratio: 1;
    }

    h1 {
        display: inline-block;
        padding-left: 10px;
        font-size: var(--h1-text-size);
        margin: 10px 0;
    }

    nav {
        margin-left: 10%;
        margin-bottom: -60px;

        ul {
            list-style: none;
            padding-left: 0;

            li {
                display: inline;


                a {
                    color: white;
                    background-color: var(--blue-700);
                    padding: 10px;
                    font-size: var(--h2-text-size);
                    transition: backgroundColor .3s;

                    &:hover {
                        background-color: var(--blue-600);
                    }
                }
            }
        }
    }
}

h2 {
    font-size: var(--h2-text-size);
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .info-item {
        margin: 10px auto;
        text-align: center;
        font-size: var(--normal-text-size);
    }

    h3 {
        text-align: center;
        font-size: var(--title-text-size);
        font-weight: bold;
        font-style: normal;
        margin: 0;
    }

    p {
        margin: 0;
    }

    ul {
        padding-left: 0;
        list-style-type: none;

        li:first-child {
            margin-top: -15px;
        }
    }
}

#trailer-video {
    display: flex;
    align-items: center;
    flex-direction: column;

    iframe {
        width: 900px;
        aspect-ratio: 16/9;
    }
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;

    ul {
        padding-left: none;
        list-style-type: none;
        margin-top: -10px;
    }

    li {
        display: inline;
        margin: 5px 15px;

        a {
            color: black;
            font-size: var(--normal-text-size);
        }
    }
}

footer {
    height: 40px;
    width: 100vw;
    border-top: 1px solid black;
    padding: 9px 0 0 10px;
    background-color: var(--gold-400);
}